body{
  background-color:black;
}
.container-fluid{
  background-color: black;

/* header */
}
.profil{
      border-radius: 50%;
      border: 3px solid rgb(247, 90, 0);
}
.channel{
  color: rgb(247, 90, 0);
  border-color:rgb(247, 90, 0);
  border-radius: 30px;
  height: 40px;
  margin-right: 10px;

}
.channel:hover{
  color:white;
  border-color:rgb(247, 90, 0);
  border-radius: 30px;
  background-color: rgb(219, 82, 2);
}
.play{
  margin-right: 10px;
}
#search{
  border-radius: 20px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(37, 34, 34);

}
#search::placeholder{
  color: rgb(129, 127, 127);
  font-size: 15px;
}
.navbar-brand{
  font-size: 30px;
}
/* left sidebar */
#menu li a{
color: white;
}

.scrollable-sidebar {
  position: sticky;
  width:30vh;
  max-height: 80vh; 
  overflow-x: auto;
}
.dropdown li{
   list-style: none;
}
#menu-user{
  position: absolute;
  left: 100px;
}
.craete_new_playlists{
  color: rgb(247, 90, 0);
}

/* right sidebar */
.sidbarright{
  position: sticky;
  max-height: 80vh;
  overflow-x: auto;
 
}
.seeAll{
  color: rgb(247, 90, 0);

}
.destil{
  margin-left: 10px;
}
.image{
  margin-top: -20px;
}
.space{
  margin-top: -10px;
}
.title{
  font-size: 15px;
    
}
.description{
  font-size: 12px;
  
} 
.heart{
  margin-right: 60px;
  margin-top: 10px;
  font-size: 20px;
  color: red;
 
}

/* content */

.content{
color: white;
position: sticky;
max-height: 80vh;
overflow-x: auto;
}
.im{
  border-radius: 5px;

}